.about-container {
    padding: 50px;
    text-align: center;
  
    h1 {
      font-size: 32px;
      color: #333;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 18px;
      color: #666;
    }
  }  