<!-- Navbar -->
<div class="header">
  <div class="logo">Exclusive</div>
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Sign Up</a>        <!-- Link to login page -->
    <a routerLink="/signup">Login</a>         <!-- Link to signup page -->
  </nav>

  <div class="search-bar">
    <input placeholder="What are you looking for?" type="text" />
    <i class="fas fa-search"></i>
  </div>

  <div class="search-cart">
    <a routerLink="/cart">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>  
</div>

<!-- Route Outlet -->
<router-outlet></router-outlet>